// Include Layout
extends ./layouts/layout.jade

// Page Head
block head
  title Project
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name="format-detection" content="telephone=no")

// Page Content
block content